@charset "utf-8";
/* CSS Document */

@import "unslider.css";
@import "base.css";

#ss_wrap {
	margin-top: 4px;
}

/*common*/
.dpn {
	display: none;
}

/*로그인 전 - 소개 이미지 슬라이더*/
#ss_wrap .unslider {
	position: relative;
	font-size: 0;
	line-height: 0;
}

#ss_wrap .unslider img {
	width: 100%;
}

/*로그인 전 - 가입 로그인 버튼*/
#ss_wrap .btn_member_wrap {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	padding: 5px 0;
}

#ss_wrap .btn_member_wrap p {
	width: 274px;
	margin: 0 auto;
}

#ss_wrap .btn_member_wrap p a img {
	width: 274px;
	height: auto;
	margin: 0 auto;
}

/*로그인 전 - 하단 고정 네비게이션*/
.intro_wrap .foot_nav_fixed {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	height: 65px;
	background-color: #fafafa;
	border-top: 2px solid #ccc;
}

.intro_wrap .foot_nav_fixed li {
	position: relative;
	display: block;
	float: left;
	width: 25%;
}

.intro_wrap .foot_nav_fixed li a {
	height: 65px;
	display: block;
	width: 100%;
	font-size: 0;
	text-indent: -5000px;
	background-size: 39px auto;
}

.intro_wrap .foot_nav_fixed li.nav_01 a {
	background: url(../images/index/btn_foot_01_0.png) no-repeat 50% 6px;
}

.intro_wrap .foot_nav_fixed li.nav_02 a {
	background: url(../images/index/btn_foot_02_0.png) no-repeat 50% 6px;
}

.intro_wrap .foot_nav_fixed li.nav_03 a {
	background: url(../images/index/btn_foot_03_0.png) no-repeat 50% 6px;
}

.intro_wrap .foot_nav_fixed li.nav_04 a {
	background: url(../images/index/btn_foot_04_0.png) no-repeat 50% 6px;
	background-size: 46px auto !important;
}

.intro_wrap .foot_nav_fixed li.nav_01.on a {
	background: url(../images/index/btn_foot_01_1.png) no-repeat 50% 6px;
}

.intro_wrap .foot_nav_fixed li.nav_02.on a {
	background: url(../images/index/btn_foot_02_1.png) no-repeat 50% 6px;
}

.intro_wrap .foot_nav_fixed li.nav_03.on a {
	background: url(../images/index/btn_foot_03_1.png) no-repeat 50% 6px;
}

.intro_wrap .foot_nav_fixed li.nav_04.on a {
	background: url(../images/index/btn_foot_04_1.png) no-repeat 50% 6px;
	background-size: 46px auto !important;
}

/*로그인 전 - 컨텐츠영역*/
.intro_wrap div[class^="nav_cont_0"] {
	padding: 22px 14px 0;
}

.intro_wrap div[class^="nav_cont_0"] h3 {
	margin-bottom: 10px;
}

.intro_wrap div[class^="nav_cont_0"] h3 img {
	width: 197px;
	height: auto;
}

.intro_wrap .nav_cont_01 ul,
.intro_wrap .nav_cont_03 ul {
	padding: 0 14px;
}

.intro_wrap .nav_cont_01 ul li,
.intro_wrap .nav_cont_03 ul li {
	font-size: 15px;
	line-height: 25px;
	padding: 5px 0 5px 15px;
	background: url(../images/common/bullet_red_01.png) no-repeat 0 8px;
	background-size: 5px auto;
}

.intro_wrap .nav_cont_01 ul li strong,
.intro_wrap .nav_cont_03 ul li strong {
	color: #9c0002;
}

.intro_wrap .nav_cont_04 p.btn_tel {
	font-size: 26px;
	font-weight: bold;
	color: #000;
	width: 274px;
	text-align: center;
	padding: 30px 0;
	margin: 5px auto 15px auto;
	overflow: hidden;
	background-color: #f9f9f9;
	-webkit-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.65);
	box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.65);
}

/*인덱스화면*/

#menu_ss {
	width: 100%;
	background-color: #c22d08;
	position: relative;
}

#menu_ss.header h2 {
	text-align: center;
	height: 48px;
}

#menu_ss.header h2.free_trial {
	text-align: center;
	height: 75px;
}

#menu_ss.header h2 img.logo {
	height: auto;
	width: 157px;
	margin: 6px;
}

#menu_ss.header h2.free_trial img {
	height: auto;
	width: 320px;
}

#menu_ss .h3 {
	width: 100%;
	height: 29px;
	padding-top: 16px;
	position: relative;
	background-color: #f8452d;
	text-align: center;
	font-size: 15px;
	color: #fff;
}

#menu_ss .h3 .btn_back {
	width: 44px;
	height: 34px;
	position: absolute;
	padding-top: 10px;
	left: 0;
	top: 0;
}

#menu_ss .h3 .btn_back img {
	width: 26px;
	height: auto;
}

#menu_ss.header_level h2 {
	height: 48px;
}

#menu_ss.header_level h2 img {
	height: auto;
	width: 157px;
	margin-left: 10px;
	margin-top: 6px;
}

#menu_ss.header_level .level {
	position: absolute;
	right: 0;
	top: 5px;
}

#menu_ss.header_level .level img {
	height: 34px;
	width: auto;
}

#ss_wrap .index_section {
	background-color: #fff;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 6px;
	padding: 15px 11px 10px;
	overflow: hidden;
	position: relative;
}

#ss_wrap .index_section h3 img {
	height: 20px;
	width: auto;
	margin-bottom: 12px;
}

#ss_wrap .sub_wrap {
	padding: 15px 0 10px !important;
	background-color: #fff;
}

#ss_wrap .sub_wrap h3 {
	padding-left: 11px !important;
}

#ss_wrap .sub_wrap h3 img {
	height: 33px;
	width: auto;
	margin-bottom: 10px;
}

/*포트폴리오 성과*/
#ss_wrap .index_section dl dt {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	float: left;
}

#ss_wrap .index_section dl dd {
	text-align: right;
}

#ss_wrap .index_section dl dd span {
	font-weight: bold;
}

#ss_wrap .index_section dl dd span.data {
	font-size: 20px;
	line-height: 21px;
}

#ss_wrap .increase {
	color: #ff0000 !important;
}

#ss_wrap .decrease {
	color: #000cff !important;
}

#ss_wrap .nochange {
	color: #000000 !important;
}

#ss_wrap .index_section dl dd span.txt {
	font-size: 14px;
	color: #000;
}

/*포트폴리오 운영 전략*/
#ss_wrap .index_section .li_wrap {
	overflow-x: scroll;
}

#ss_wrap .index_section .li_wrap ul {
	overflow: hidden;
}

#ss_wrap .index_section .li_wrap ul.type01 li {
	display: block;
	position: relative;
	float: left;
	margin-right: 8px;
	width: 135px;
	height: 144px;
}

#ss_wrap .index_section .li_wrap ul.type01 li a {
	display: block;
	position: relative;
	height: 144px;
}

#ss_wrap .index_section .li_wrap ul.type01 li {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.type {
	height: 32px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: right;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.type2 {
	height: 34px;
	width: 100%;
	background-color: #ededed;
	position: absolute;
	bottom: 0;
	text-align: right;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li01 {
	border: 2px solid #43d1b8;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li01 p.type {
	background-color: #43d1b8;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li02 {
	border: 2px solid #f8452d;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li02 p.type {
	background-color: #f8452d;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li03 {
	border: 2px solid #37c4e7;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li03 p.type {
	background-color: #37c4e7;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li04 {
	border: 2px solid #4f4f4f;
}

#ss_wrap .index_section .li_wrap ul.type01 li.li04 p.type {
	background-color: #4f4f4f;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.type img {
	height: 27px;
	padding-top: 3px;
	width: auto;
	padding-right: 8px;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.type2 img {
	height: 34px;
	width: auto;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.date {
	background: url("../images/index/bg_date.png") no-repeat scroll 0 0;
	background-size: auto 25px;
	bottom: -1px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	left: -2px;
	padding-left: 4px;
	padding-top: 6px;
	position: absolute;
	width: 50px;
	z-index: 1;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.logo {
	margin: 0 4px;
}

#ss_wrap .index_section .li_wrap ul.type01 li p.logo img {
	width: 40px;
	height: auto;
}

#ss_wrap .index_section .li_wrap ul li table {
	margin: 0 5px;
	width: 124px;
}

#ss_wrap .index_section .li_wrap ul li table th img {
	width: 30px;
}

#ss_wrap .index_section .li_wrap ul li table td {
	text-align: right;
	font-size: 15px;
	padding: 3px 0;
}

#ss_wrap .index_section .li_wrap ul li table td img.arrow {
	width: 12px;
	margin: 0 3px;
}

/* 추천 포트폴리오 */

#ss_wrap .in_notice {
	background-color: #3c55b6;
	height: 44px;
	text-align: center;
}

#ss_wrap .tbl_wrap {
	width: 100%;
	position: relative;
	border: 1px solid #D8D8D8;
	margin-bottom: 10px;
}

#ss_wrap .portfolio_wrap .tbl_wrap {
	border: none !important;
}

#ss_wrap .tbl_wrap table th {
	border-top: 2px solid #3c55b6;
	border-bottom: 2px solid #3c55b6;
	padding: 10px 0 8px 0;
	background: url(../images/index/th_index_tbl_line.png) no-repeat 0 8px;
	background-size: 1px 18px;
}

#ss_wrap .tbl_wrap table th.nonebg {
	background: none !important;
}

#ss_wrap .tbl_wrap table th img {
	height: 12px;
	width: auto;
}

#ss_wrap .tbl_wrap table td {
	text-align: center;
	font-size: 14px;
	padding: 7px 0;
	font-weight: bold;
}

#ss_wrap .tbl_wrap table td.num img {
	width: 14px;
	height: auto;
}

#ss_wrap .tbl_wrap table td.price {
	text-align: right;
}

#ss_wrap .tbl_wrap table td.per1 {
	text-align: right;
	color: #00a285;
}

#ss_wrap .tbl_wrap table td.per2 {
	text-align: right;
	color: #f61f02;
	padding-right: 5px;
}

#ss_wrap .index_section .btn_more01 {
	position: absolute;
	top: -35px;
	right: 0;
	width: 25px;
}

#ss_wrap .index_section .btn_more02 {
	position: absolute;
	top: -35px;
	right: 10px;
	width: 25px;
}

#ss_wrap .index_section .btn_more {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
}

#ss_wrap .index_section .btn_more01 img,
#ss_wrap .index_section .btn_more02 img,
#ss_wrap .index_section .btn_more img {
	height: auto;
	width: 25px;
}

/* 추천 포트폴리오 port1,2*/

#ss_wrap .index_section .port_wrap {
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}

#ss_wrap .index_section .port_wrap .port_1 {
	background: url(../images/index/bg_port_line.png) repeat-y right 0;
}

#ss_wrap .index_section .port_wrap .port_1,
#ss_wrap .index_section .port_wrap .port_2 {
	width: 50%;
	position: relative;
	overflow: hidden;
	float: left;
}

#ss_wrap .index_section .port_wrap a {
	display: block;
	position: relative;
	overflow: hidden;
	width: 95%;
	margin: 0 auto;
	padding-bottom: 5px;
}

#ss_wrap .index_section .port_wrap h1 {
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	text-align: center;
	padding: 11px 0 8px;
}

#ss_wrap .index_section .port_wrap h1 img {
	height: 44px;
}

#ss_wrap .index_section .port_wrap .yield {
	width: 100%;
	background-color: #e9e9e8;
	text-align: center;
	padding: 11px 0 5px;
}

#ss_wrap .index_section .port_wrap .yield span.num {
	font-size: 22px;
	font-weight: bold;
	font-family: 'tahoma';
}

/* 테마 카드 */
#ss_wrap .index_section .li_wrap ul.theme_card.basic>li {
	width: 46% !important;
	margin-right: 1.5% !important;
	margin-left: 1.5% !important;
}

#ss_wrap .index_section .li_wrap ul.theme_card li {
	display: block;
	position: relative;
	float: left;
	margin-right: 8px;
	width: 171px;
	margin-bottom: 10px;
	height: 177px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px 0px 20px -12px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: inset 0px 0px 20px -12px rgba(0, 0, 0, 0.53);
	box-shadow: inset 0px 0px 20px -12px rgba(0, 0, 0, 0.53);
}

#ss_wrap .index_section .li_wrap ul.theme_card li a {
	display: block;
	position: relative;
	height: 170px;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a p.count {
	position: absolute;
	top: -9px;
	right: 3px;
	width: 40px;
	height: 37px;
	font-weight: bold;
	font-size: 22px;
	color: #000;	
	background: url("../images/cont/ico_theme_flag_w.png") no-repeat 0 0;
	background-size: 40px auto;
	text-align: center;
	padding-top: 13px;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a p.count.top3 {
	background: url("../images/cont/ico_theme_flag_r.png") no-repeat 0 0;
	color: #fff;
	background-size: 40px auto;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a p.tit {
	color: #121212;
	font-size: 15px;
	font-weight: bold;
	line-height: 19px;
	letter-spacing: -1px;
	height: 38px;
	margin: 8px 5px;
	width: 92px;
	overflow: hidden;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .per {
	position: absolute;
	right: 8px;
	top: 1px;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .per span {
	font-size: 15px;
	font-weight: bold;
	color: #424242;
	font-family: 'tahoma';
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .per .increase {
	font-size: 24px;
	font-weight: bold;
	color: #f8452d;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .data {
	overflow: hidden;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .data p {
	width: 33.3%;
	float: left;
	height: 22px;
	margin-top: 2px;
	padding-top: 8px;
	background-color: #e4e4e4;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .data p span {
	width: 50%;
	float: left;
	text-align: center;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .data p img {
	width: 20px;
}

#ss_wrap .index_section .li_wrap ul.theme_card li a .data p .num {
	font-size: 13px;
	color: #333333;
}

#ss_wrap .index_section .li_wrap ul.theme_card li .item p.logo {
	margin: 0 4px;
	width: 31px;
	float: left;
}

#ss_wrap .index_section .li_wrap ul.theme_card li .item p.logo img {
	width: 31px;
	height: auto;
}

#ss_wrap .index_section .li_wrap ul.theme_card li .item p.name {
	font-weight: bold;
	float: left;
	font-size: 13px;
	padding-top: 11px;
	width: 70px;
}

#ss_wrap .index_section .li_wrap ul.theme_card.basic li .item p.name {
	font-weight: bold;
	float: left;
	font-size: 12px;
	padding-top: 10px;
	width: 49px;
}

#ss_wrap .index_section .li_wrap ul.theme_card li .item p.price {
	font-weight: bold;
	font-size: 12px;
	padding-top: 11px;
}



/* 종목분석 */
#ss_wrap .index_section .li_wrap ul.type02 li {
	display: block;
	position: relative;
	float: left;
	margin-right: 8px;
	width: 155px;
	margin-bottom: 10px;
	height: 157px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px 0px 20px -12px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: inset 0px 0px 20px -12px rgba(0, 0, 0, 0.53);
	box-shadow: inset 0px 0px 20px -12px rgba(0, 0, 0, 0.53);
}

#ss_wrap .index_section .li_wrap ul.type02 li a {
	display: block;
	position: relative;
	height: 146px;
}

/* 종목분석 탭메뉴 */
#ss_wrap .sub_wrap .tab_menu {
	position: relative;
	width: 100%;
	height: 33px;
	margin-bottom: 20px;
	clear: left;
}

#ss_wrap .sub_wrap .tab_menu li {
	display: block;
	height: 35px;
	float: left;
	background: url("../images/cont/tab_line.png") #7a87b9 no-repeat right 7px;
	background-size: 2px auto;
}

#ss_wrap .sub_wrap .tab_menu li a {
	display: block;
	height: 33px;
	font-size: 0;
	text-indent: -5000px;
	border-top: 2px solid #7a87b9;
}

#ss_wrap .sub_wrap .tab_menu li.t4 {
	width: 25%;
}

#ss_wrap .sub_wrap .tab_menu li.t3 {
	width: 33.3%;
}

#ss_wrap .sub_wrap .tab_menu li.t2 {
	width: 50%;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li01 a {
	background: url("../images/cont/tab01_1_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li01.focus a {
	background: url("../images/cont/tab01_1_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li02 a {
	background: url("../images/cont/tab01_2_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li02.focus a {
	background: url("../images/cont/tab01_2_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li03 a {
	background: url("../images/cont/tab01_3_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li03.focus a {
	background: url("../images/cont/tab01_3_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li04 a {
	background: url("../images/cont/tab01_4_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab01 li.li04.focus a {
	background: url("../images/cont/tab01_4_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab02 li.li01 a {
	background: url("../images/cont/tab02_1_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab02 li.li01.focus a {
	background: url("../images/cont/tab02_1_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab02 li.li02 a {
	background: url("../images/cont/tab02_2_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab02 li.li02.focus a {
	background: url("../images/cont/tab02_2_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab02 li.li03 a {
	background: url("../images/cont/tab02_3_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab02 li.li03.focus a {
	background: url("../images/cont/tab02_3_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab03 li.li01 a {
	background: url("../images/cont/tab03_1_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab03 li.li01.focus a {
	background: url("../images/cont/tab03_1_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

#ss_wrap .sub_wrap .tab_menu.tab03 li.li02 a {
	background: url("../images/cont/tab03_2_0.png") no-repeat 50% 50%;
	background-size: auto 14px;
}

#ss_wrap .sub_wrap .tab_menu.tab03 li.li02.focus a {
	background: url("../images/cont/tab03_2_1.png") #fff no-repeat 50% 50%;
	background-size: auto 15px;
}

/*운영원칙 */
.rule_wrap .tit {
	display: block;
	margin: 0 auto;
	width: 290px;
}

.rule_wrap .tit img {
	width: 290px;
}

.rule_wrap h5 img {
	height: 34px;
	margin-bottom: 5px;
}

.rule_wrap ul {
	margin-bottom: 10px;
	padding: 0 10px;
}

.rule_wrap ul li {
	color: #151515;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 8px;
	padding-top: 3px;
	padding-left: 15px;
	background: url("../images/cont/bullet_rule_port.png") #fff no-repeat left 5px;
	background-size: auto 10px;
}

/*포트 수익률*/
.port_rate ul li {
	display: block;
	margin: 0 10px;
	padding: 12px 10px;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	overflow: hidden;
}

.port_rate ul li span {
	display: block;
	float: left;
	width: 50%;
}

.port_rate ul li span.txt {
	font-size: 16px;
	text-align: right;
}

.port_rate ul li span.num {
	font-size: 20px;
	text-align: right;
	line-height: 22px;
}

.port_rate ul li span.img img {
	width: 112px;
	vertical-align: middle;
	border-right: 1px solid #ccc;
}

/*포트 메뉴*/
#ss_wrap .sub_wrap .port_num {
	position: absolute;
	top: 10px;
	right: 0;
}

#ss_wrap .sub_wrap .port_box {
	margin: 0 10px 20px;
	overflow: hidden;
	border: 3px solid #e41c39;
}

#ss_wrap .sub_wrap .port_box .port_tit {
	position: relative;
	display: block;
	float: left;
	text-align: right;
	width: 50%;
	margin: 8px 0 5px;
}

#ss_wrap .sub_wrap .port_box .port_tit img {
	width: 157px;
}

#ss_wrap .sub_wrap .port_box .port_data {
	position: relative;
	overflow: hidden;
	float: left;
	text-align: center;
	width: 50%;
	margin: 11px 0 5px;
}

#ss_wrap .sub_wrap .port_box .port_info {
	width: 95%;
	text-align: center;
	padding: 6px 0 3px;
	background-color: #e9e9e8;
	margin: 0 auto 5px;
	clear: left;
}

#ss_wrap .sub_wrap .port_box .port_info img {
	height: 22px;
}


#ss_wrap .sub_wrap .cont_box {
	margin-bottom: 10px;
	padding: 0 0 10px;
}

#ss_wrap .sub_wrap .cont_box h5 img {
	height: 23px;
	margin: 0 11px;
}

/*건별결제시*/
#ss_wrap .index_section .li_wrap ul.type02 li.buy p.date {
	background: url("../images/index/ico_date_clock.png") no-repeat scroll 0 3px;
	background-size: 17px auto;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	left: 60px;
	line-height: 0;
	padding-left: 18px;
	padding-top: 13px;
	position: absolute;
	top: 10px;
	width: 65px;
}

#ss_wrap .index_section .li_wrap ul.type02 li.buy p.price {
	color: #333;
	font-size: 15px;
	font-weight: bold;
	height: 16px;
	line-height: 0;
	padding-left: 22px;
	padding-top: 13px;
	position: absolute;
	width: 14px;
}

#ss_wrap .index_section .li_wrap ul.type02 li.buy p.price.lock {
	background: rgba(0, 0, 0, 0) url("../images/index/ico_price_lock.png") no-repeat scroll 0 0;
	background-size: 20px auto;
	left: 112px;
	top: 9px;
}

#ss_wrap .index_section .li_wrap ul.type02 li p.price.unlock {
	background: rgba(0, 0, 0, 0) url("../images/index/ico_price_unlock.png") no-repeat scroll 0 0;
	background-size: 20px auto;
	left: 117px;
	top: 9px;
	padding-left: 24px !important;
}

/* //건별결제시*/

#ss_wrap .index_section .li_wrap ul.type02 li p.date {
	color: #333;
	font-weight: bold;
	line-height: 0;
	padding-top: 11px;
	font-size: 12px;
	position: absolute;
	top: 11px;
	right: -10px;
	background: url(../images/index/ico_date_clock.png) no-repeat 0 0;
	background-size: 17px auto;
	height: 20px;
	width: 65px;
	padding-left: 18px;
}

#ss_wrap .index_section .li_wrap ul.type02 li p.price {
	color: #333;
	font-weight: bold;
	line-height: 0;
	padding-top: 8px;
	font-size: 15px;
	position: absolute;
	top: 15px;
	left: 118px;
	background: url(../images/index/ico_price_coin.png) no-repeat 0 0;
	background-size: 14px auto;
	height: 16px;
	width: 14px;
	padding-left: 17px;
}

#ss_wrap .index_section .li_wrap ul.type02 li p.logo {
	margin: 0 4px;
}

#ss_wrap .index_section .li_wrap ul.type02 li p.logo img {
	width: 40px;
	height: auto;
}

#ss_wrap .index_section .li_wrap ul.type02 li p.tit {
	font-size: 16px;
	line-height: 23px;
	padding: 0 8px;
	margin-bottom: 5px;
	font-weight: bold;
}

#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li {
	position: relative;
	float: left;
	display: block;
	width: 33.3%;
	height: 29px;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 0;
	text-indent: -5000px;
}

#ss_wrap .index_section .li_wrap ul.type02 li p.target {
	background: url(../images/index/ico_target.png) no-repeat 6px 6px;
	background-size: 50px auto;
	height: 27px;
	padding: 8px 3px 0 3px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}

/* 성장주, 우량주, 턴 카드 그레이*/
#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li.li01 {
	background: url(../images/index/li_box_tit_01_2.png) #f8f8f8 no-repeat 50% 5px;
	background-size: auto 20px;
}

#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li.li02 {
	background: url(../images/index/li_box_tit_02_2.png) #f8f8f8 no-repeat 50% 5px;
	background-size: auto 20px;
}

#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li.li03 {
	background: url(../images/index/li_box_tit_03_2.png) #f8f8f8 no-repeat 50% 5px;
	background-size: auto 20px;
}

#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li.li01.on {
	background: url(../images/index/li_box_tit_01_0.png) #a8a8a8 no-repeat 50% 5px;
	background-size: auto 20px;
}

#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li.li02.on {
	background: url(../images/index/li_box_tit_02_0.png) #a8a8a8 no-repeat 50% 5px;
	background-size: auto 20px;
}

#ss_wrap .index_section .li_wrap ul.type02 li ul.analysis_type li.li03.on {
	background: url(../images/index/li_box_tit_03_0.png) #a8a8a8 no-repeat 50% 5px;
	background-size: auto 20px;
}

#ss_wrap .index_section .li_wrap ul.type02.basic>li {
	width: 46% !important;
	height: 155px;
	margin-right: 1.5% !important;
	margin-left: 1.5% !important;
}

#ss_wrap .index_section .li_wrap ul.type01.basic>li {
	width: 46% !important;
	margin-right: 1.5% !important;
	margin-bottom: 10px;
	margin-left: 1.5% !important;
}

#ss_wrap .index_section .li_wrap ul.type01.basic li table {
	width: 90%;
	margin: 0 auto;
}

/*CONTENTS*/

/**.cont_top_wrap**/
#ss_wrap .cont_top_wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #cacaca;
}

#ss_wrap .cont_top_wrap .item,
#ss_wrap .cont_wrap .item_wrap .item {
	width: 100%;
	position: relative;
	overflow: hidden;
}

#ss_wrap .cont_top_wrap .item .logo,
#ss_wrap .cont_wrap .item_wrap .item .logo {
	float: left;
	margin: 10px 8px 5px 20px;
}

#ss_wrap .cont_top_wrap .item .logo img,
#ss_wrap .cont_wrap .item_wrap .item .logo img {
	width: 51px;
	height: auto;
}

#ss_wrap .cont_top_wrap .item .name,
#ss_wrap .cont_wrap .item_wrap .item .name {
	position: relative;
	overflow: hidden;
	margin-top: 28px;
	font-size: 18px !important;
	line-height: 20px;
	font-weight: bold;
}

#ss_wrap .cont_top_wrap .type {
	position: absolute;
	right: 10px;
	top: 20px;
}

#ss_wrap .cont_top_wrap .type img {
	height: 32px;
	width: auto;
}

#ss_wrap .cont_top_wrap .target {
	position: absolute;
	right: 10px;
	top: 10px;
}

#ss_wrap .cont_top_wrap .target img {
	height: 44px;
	width: auto;
}

#ss_wrap .cont_top_wrap .desc {
	margin: 0 20px 16px;
	line-height: normal;
	font-size: 14px;
	color: #000;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table {
	width: 100%;
	border-top: 1px solid #bbb;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table th {
	height: 32px;
	padding-top: 3px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th.th01 {
	background: url(../images/cont/add/bullet_recommend_tbl_01.png) no-repeat #d9d9d9 10px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th.th02 {
	background: url(../images/cont/add/bullet_recommend_tbl_02.png) no-repeat #EBEBEB 10px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th.th03 {
	background: url(../images/cont/add/bullet_recommend_tbl_03.png) no-repeat #d9d9d9 10px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th.th04 {
	background: url(../images/cont/add/bullet_recommend_tbl_04.png) no-repeat #EBEBEB 10px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th.th05 {
	background: url(../images/cont/add/bullet_recommend_tbl_05.png) no-repeat #d9d9d9 10px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th.th06 {
	background: url(../images/cont/add/bullet_recommend_tbl_06.png) no-repeat #EBEBEB 10px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_recommend th img {
	padding-left: 10px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis th.th01 {
	background: url(../images/cont/add/bullet_analysis_tbl_01.png) no-repeat #d9d9d9 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis th.th02 {
	background: url(../images/cont/add/bullet_analysis_tbl_02.png) no-repeat #EBEBEB 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis th.th03 {
	background: url(../images/cont/add/bullet_analysis_tbl_03.png) no-repeat #d9d9d9 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis th.th04 {
	background: url(../images/cont/add/bullet_analysis_tbl_04.png) no-repeat #EBEBEB 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis th.th05 {
	background: url(../images/cont/add/bullet_analysis_tbl_add01.png) no-repeat #888 6px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis th.th06 {
	background: url(../images/cont/add/bullet_analysis_tbl_add02.png) no-repeat #777 6px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02>.tbl_analysis td.td05,
#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis td.td06 {
	border-bottom: 1px solid #cacaca;
	vertical-align: middle;
	height: 40px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_target {
	border-bottom: 8px solid #e2e1e1;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_target th.th01 {
	background: url(../images/cont/add/bullet_target_tbl_01.png) no-repeat #d9d9d9 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_target th.th02 {
	background: url(../images/cont/add/bullet_target_tbl_02.png) no-repeat #EBEBEB 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_target th.th03 {
	background: url(../images/cont/add/bullet_target_tbl_03.png) no-repeat #d9d9d9 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_target th.th04 {
	background: url(../images/cont/add/bullet_target_tbl_04.png) no-repeat #EBEBEB 2px 0;
	background-size: 20px auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table th img {
	height: 19px;
	width: auto;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td {
	color: #000;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	height: 32px;
	padding-top: 3px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_analysis td,
#ss_wrap .cont_top_wrap .tbl_wrap02 .tbl_target td {
	background: url(../images/common/td_tbl_line.png) no-repeat right 6px;
	background-size: 1px 55px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td.txt {
	text-align: center !important;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td.td05 {
	text-align: center !important;
	vertical-align: top;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td.td05 p {
	margin: 5px 0;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td span.price {
	font-size: 18px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td span.price2 {
	font-size: 18px;
	letter-spacing: -1px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 table td.td04 {
	height: 55px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .notice {
	background-color: #3b3b3b;
	font-weight: bold;
	padding: 8px 14px;
}

#ss_wrap .cont_top_wrap .tbl_wrap02 .notice span {
	color: #fff;
	font-size: 12px;
}

/**.cont_bottom_wrap**/
.bx-wrapper {
	margin-top: 7px !important;
}

#ss_wrap .cont_bottom_wrap {
	background-color: #fff;
	position: relative;
	margin-bottom: 6px;
}

#ss_wrap .cont_bottom_wrap h5 {
	margin: 0 17px 17px;
}

#ss_wrap .cont_bottom_wrap h5 img {
	height: 24px;
	width: auto;
}

#ss_wrap .cont_bottom_wrap div[class^="group"] {
	/* min-height: 487px; */
	border-top: 2px solid #6f83ce;
	padding-top: 17px;
	background-color: #fff;
}

#ss_wrap .cont_bottom_wrap .inbox {
	position: relative;
	padding-bottom: 17px;
}

/*컨텐츠 내 점수 측정기*/
.inbox.score_wrap {
	position: relative;
	padding-bottom: 17px;
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	border-top: 3px solid #525252;
}

.inbox.score_wrap h5 {
	padding: 19px 10px;
}

.inbox.score_wrap h5 img {
	height: 22px;
	width: auto;
}

.inbox.score_wrap .total_score {
	background: url("../images/cont/img_score_flag.png") no-repeat 10px 0;
	background-size: 115px auto;
	height: 63px;
	padding-top: 10px;
	position: absolute;
	right: 0;
	top: -4px;
	width: 135px;
}

.inbox.score_wrap .total_score span.score {
	color: #fff12d;
	font-size: 22px;
	font-weight: bold;
	margin-left: 40px;
}

.inbox.score_wrap .total_score span.txt {
	color: #fff !important;
	font-weight: bold;
	font-size: 13px !important;
}

.inbox.score_wrap .instrument_wrap {
	position: relative;
	overflow: hidden;
}

.inbox.score_wrap .instrument_wrap li {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #333;
	position: relative;
	float: left;
	width: 33.3333%;
}

.inbox.score_wrap .instrument_wrap li .tit img {
	width: 68px;
	height: auto;
}

.inbox.score_wrap .instrument_wrap li .img_instrument {
	width: 100px;
	height: auto;
}

.inbox.score_wrap .instrument_wrap li .score {
	border: 3px solid #cbcbcb;
	margin: 0 auto;
	border-radius: 3px;
	padding-top: 12px;
	height: 22px;
	width: 68px;
}

.inbox.score_wrap .instrument_wrap li .score span {
	font-weight: bold;
	color: #ef4043;
	font-size: 22px;
}

/*투자 매력도*/
.score_all_wrap {
	position: relative;
}

.score_wrap_notice {
	height: 245px;
	z-index: 10;
	background: url("../images/cont/bg_opacity.png") repeat scroll 0 0;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.score_wrap_notice a {
	display: block;
	height: 235px;
	padding-top: 10px;
	width: 100%;
}

.inbox.score_charm_wrap {
	min-height: 85px;
	width: 100%;
	overflow: hidden;
}

.inbox.score_charm_wrap .left {
	float: left;
	width: 40%;
	border-top: 1px solid #DCAC18;
}

.inbox.score_charm_wrap .left h1 {
	display: block;
	background-color: #ffce37;
	padding: 5px 0;
	text-align: center;
}

.inbox.score_charm_wrap .left h1 img {
	width: 69px;
}

.inbox.score_charm_wrap .left p {
	background: url(../images/cont/ico_score_charm.png) #fff no-repeat 10px 10px;
	background-size: 46px auto;
	min-height: 50px;
	padding-left: 65px;
	padding-top: 13px;
}

.inbox.score_charm_wrap .left p span {
	font-weight: bold;
	color: #000;
	line-height: 20px;
}

.inbox.score_charm_wrap .left p span.txt {
	font-size: 15px;
	display: block;
}

.inbox.score_charm_wrap .left p span.num {
	font-size: 22px;
}

.inbox.score_charm_wrap .left p span.per {
	font-size: 14px;
}

.inbox.score_charm_wrap .right {
	min-height: 91px;
	width: 60%;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	background-color: #eee;
	border-top: 1px solid #ABABAB;
}

.inbox.score_charm_wrap .right img {
	width: 200px;
	display: block;
	margin: 15px auto;
}

/*컨텐츠 내 점수 측정기*/


#ss_wrap .cont_bottom_wrap .inbox .tit_wrap {
	background-color: #5b74d4;
	border: 3px solid #5b74d4;
	border-radius: 5px;
	padding: 10px 17px;
	color: #fff;
	margin: 0 10px;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
}

#ss_wrap .cont_bottom_wrap .investment_point li {
	margin: 0 17px 8px;
	background: url(../images/cont/bullet_point.png) no-repeat 0 0;
	background-size: 24px 24px;
	line-height: normal;
	min-height: 17px;
	padding-top: 6px;
	display: block;
	padding-left: 30px;
	font-size: 16px;
	font-weight: bold;
}

#ss_wrap .cont_bottom_wrap ul.total_info {
	border-top: 1px solid #e0e0e0;
}

#ss_wrap .cont_bottom_wrap ul.total_info li {
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	float: left;
	width: 33%;
}

#ss_wrap .cont_bottom_wrap ul.total_info li p.title {
	font-size: 13px;
	font-weight: bold;
	margin: 15px 10px 5px;
}

#ss_wrap .cont_bottom_wrap ul.total_info li p.title span {
	color: #444;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: -1px;
	margin-left: 4px;
}

#ss_wrap .cont_bottom_wrap ul.total_info li p.data {
	font-size: 14px;
	margin: 10px auto 15px;
	text-align: center;
}

#ss_wrap .cont_bottom_wrap ul.total_info li p.data span {
	font-size: 19px;
	font-weight: bold;
}

#ss_wrap .cont_bottom_wrap .tbl_ainfo01 {
	font-size: 14px;
	width: 100%;
	border-bottom: 1px solid #d1d1d1;
}

#ss_wrap .cont_bottom_wrap .tbl_ainfo01 th {
	background-position: right 50%;
	background-repeat: no-repeat;
	border-top: 2px solid #6f83ce;
	border-right: 1px dotted #d1d1d1;
	color: #000;
}

#ss_wrap .cont_bottom_wrap .tbl_ainfo01 td {
	border-top: 2px solid #d1d1d1;
	line-height: 16px;
	padding: 10px 15px;
}

#ss_wrap .cont_bottom_wrap nav {
	background-color: #646464;
	padding-top: 20px;
	height: 30px;
	text-align: center;
}

#ss_wrap .cont_bottom_wrap nav ul {
	width: 60px;
	margin: 0 auto;
}

#ss_wrap .cont_bottom_wrap nav li {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	background: url(../images/cont/bullet_slide_0.png) no-repeat 0 0;
	background-size: 15px auto;
}

#ss_wrap .cont_bottom_wrap nav li a {
	display: block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	font-size: 0;
	text-indent: -5000px;
}

#ss_wrap .cont_bottom_wrap nav li.on {
	background: url(../images/cont/bullet_slide_1.png) no-repeat 0 0;
	background-size: 15px auto;
}

/* 실시간 포트폴리오 */
#ss_wrap .portfolio_wrap {
	background-color: #fff;
	padding: 10px !important;
}

#ss_wrap .portfolio_wrap td {
	border-bottom: 1px solid #ccc;
}

#ss_wrap .portfolio_wrap td.date p {
	color: #000;
	font-size: 13px;
	margin: 0 auto;
}

#ss_wrap .portfolio_wrap td.cont {
	text-align: left !important;
	padding: 12px 10px;
	line-height: 15px;
}

/*.level_wrap*/

#ss_wrap .level_wrap {
	background-color: #fff !important;
	overflow: hidden;
}

#ss_wrap .level_wrap h3 img {
	width: auto;
	height: 34px;
	margin: 20px 0 11px 13px;
}

#ss_wrap .level_wrap .level_state {
	height: 46px;
	margin-bottom: 20px;
	padding-top: 10px;
	text-align: center;
	background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 58%, #ededed 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: -1px -9px 30px 10px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: -1px -9px 30px 10px rgba(0, 0, 0, 0.28);
	box-shadow: -1px -9px 30px 10px rgba(0, 0, 0, 0.28);
}

#ss_wrap .level_wrap .level_state .lv_a {
	width: 273px;
	margin: 0 auto;
	overflow: hidden;
}

#ss_wrap .level_wrap .level_state .lv_a p {
	float: left;
}

#ss_wrap .level_wrap .level_state .lv_c {
	width: 320px;
	margin: 0 auto;
	overflow: hidden;
}

#ss_wrap .level_wrap .level_state .lv_c p {
	float: left;
	margin-top: 8px;
}

#ss_wrap .level_wrap .level_state div[class^="lv"] p.txt img {
	height: 20px;
	width: auto;
}

#ss_wrap .level_wrap .level_state div[class^="lv"] p.lv img {
	height: 33px;
	width: auto;
}

#ss_wrap .level_wrap .level_state .lv_c p.date {
	width: 140px;
	margin: 0 5px !important;
	font-weight: bold;
	padding: 10px 3px 0;
	height: 22px;
	color: #fff;
	font-size: 15px;
	background-color: #31448a;
	border-radius: 15px;
}

#ss_wrap .level_select {
	padding: 0 7px;
	width: 94%;
	margin: 0 auto;
	position: relative;
}

#ss_wrap .level_select .top_txt img {
	height: 22px;
	width: auto;
}

#ss_wrap .level_select .lv_slct_tbl {
	border: 1px solid #e2e2e2;
}

#ss_wrap .level_select .lv_slct_tbl .tab {
	width: 100%;
	position: relative;
}

#ss_wrap .level_select .lv_slct_tbl .tab li {
	display: block;
	position: relative;
	float: left;
	width: 25%;	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv01.on {	

}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv02.on {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv03.on {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv04.on {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li a,
#ss_wrap .level_select .lv_slct_tbl .tab li p {
	display: block;
	height: 55px;
	text-indent: -5000px;
	font-size: 0;
	border-right: 1px solid #d4d4d4;
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv01 a,
#ss_wrap .level_select .lv_slct_tbl .tab li.lv01 p {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv01.on a {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv02 a,
#ss_wrap .level_select .lv_slct_tbl .tab li.lv02 p {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv02.on a {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv03 a,
#ss_wrap .level_select .lv_slct_tbl .tab li.lv03 p {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv03.on a {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv04 a,
#ss_wrap .level_select .lv_slct_tbl .tab li.lv04 p {
	
}

#ss_wrap .level_select .lv_slct_tbl .tab li.lv04.on a {
	
}

#ss_wrap .level_select .lv_slct_tbl table {
	width: 100%;
}

#ss_wrap .level_select .lv_slct_tbl table thead th {
	display: none;
}

#ss_wrap .level_select .lv_slct_tbl table tbody th {
	padding: 13px 0 9px 10px;
	text-align: left;
	border-bottom: 1px solid #e2e2e2;
}

#ss_wrap .level_select .lv_slct_tbl table tbody th img {
	height: 16px;
	width: auto;
}

#ss_wrap .level_select .lv_slct_tbl table tbody td {
	text-align: center;
	padding: 12px 0 9px;
	border-bottom: 1px solid #e2e2e2;
	border-right: 1px solid #d4d4d4;
}

#ss_wrap .level_select .lv_slct_tbl table tbody td.price img {
	height: 22px;
	width: auto;
}

#ss_wrap .level_select .lv_slct_tbl table tbody td.type img,
#ss_wrap .level_select .lv_slct_tbl table tbody td.ox img {
	height: 16px;
	width: auto;
}

#ss_wrap .level_wrap .btn_next {
	width: 298px;
	margin: 20px auto;
}

#ss_wrap .level_wrap .btn_next img {
	width: 298px;
	height: auto;
	margin: 0 auto;
}

#ss_wrap .level_wrap .mem_id {
	overflow: hidden;
	margin: 0 15px 15px;
	border: 1px solid #c9c9c9;
}

#ss_wrap .level_wrap .mem_id p {
	position: relative;
	float: left;
	padding-top: 12px;
	padding-bottom: 8px;
}

#ss_wrap .level_wrap .mem_id p.tit {
	background-color: #e9e9e9;
	width: 30%;
	padding-left: 12px;
}

#ss_wrap .level_wrap .mem_id p.tit img {
	height: 20px;
	width: auto;
}

#ss_wrap .level_wrap .mem_id p.id {
	font-size: 20px;
	font-weight: bold;
	padding-top: 15px !important;
	padding-right: 12px;
	text-align: right;
	width: 60%;
}

#ss_wrap .level_wrap .payment_tit {
	overflow: hidden;
	margin: 0 15px 15px;
	border: 3px solid #b3b3b3;
}

#ss_wrap .level_wrap .payment_tit p {
	font-size: 18px;
	font-weight: bold;
	padding: 15px 0 !important;
	line-height: 20px;
	padding-right: 12px;
	text-align: center;
	width: 100%;
}

#ss_wrap .level_wrap .txt01 img {
	height: 18px;
	width: auto;
}

#ss_wrap .level_wrap table {
	width: 94%;
	margin: 0 auto 20px;
}

#ss_wrap .level_wrap table th {
	padding: 5px 0 0;
}

#ss_wrap .level_wrap table.bg th {
	background-color: #97a2d9;
	border-right: 1px solid #8d97cb;
	border-top: 1px solid #8d97cb;
}

#ss_wrap .level_wrap table th img {
	height: 33px;
	width: auto;
}

#ss_wrap .level_wrap table td {
	padding: 8px 0;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-align: center;
}

#ss_wrap .level_wrap table.change td {	
	padding: 8px 0 0;
}

#ss_wrap .level_wrap table.change td p.first {
	margin-bottom: 35px;
}

#ss_wrap .level_wrap table.change td p.end {
	background-color: #feffd7;
}

#ss_wrap .level_wrap table td p {
	height: 27px;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

#ss_wrap .level_wrap table td p.lv img,
#ss_wrap .level_wrap span.lv img,
#ss_wrap .level_wrap table td p.price img {
	height: 27px;
	width: auto;
}

#ss_wrap .level_wrap table td p.date span {
	font-size: 15px;
	font-weight: bold;
	display: block;
	position: relative;
	margin-top: 6px;
}

#ss_wrap .level_wrap .basic_option {
	position: relative;
	margin: 15px;
}

#ss_wrap .level_wrap .basic_option .inbox {
	border: 1px solid #eee;
	padding: 20px;
	overflow: hidden;
}

#ss_wrap .level_wrap .basic_option .inbox p {
	position: relative;
	float: left;
	padding-top: 12px;
	padding-bottom: 8px;
}

#ss_wrap .level_wrap .basic_option .inbox p.tit {
	background-color: #dedede;
	width: 30%;
	padding-left: 12px;
}

#ss_wrap .level_wrap .basic_option .inbox p.tit img {
	height: 25px;
	width: auto;
}

#ss_wrap .level_wrap .basic_option .inbox p.id {
	font-size: 20px;
	font-weight: bold;
	padding-top: 15px !important;
	padding-right: 12px;
	text-align: right;
	width: 60%;
}

#ss_wrap .level_wrap .basic_option h4 img {
	height: 30px;
	width: auto;
}

#ss_wrap .level_wrap .basic_option .input_radio {
	width: 33%;
	display: block;
	float: left;
	position: relative;
}

#ss_wrap .level_wrap .basic_option .input_radio img {
	height: 18px;
	width: auto;
	margin-left: 30px;
}

#ss_wrap .level_wrap .basic_option .input_radio input {
	margin-top: -11px;
	position: absolute;
	left: 2px;
	top: 14px;
}

#ss_wrap .level_wrap .basic_option .input_radio label {
	display: block;
	right: 0;
	width: 90%;
	height: 22px;
	position: relative;
	top: 0;
}

#ss_wrap .level_wrap .basic_option .input_radio label::after {
	background: url(../images/common/radio_btn_0.png) no-repeat 0 0;
	background-size: 20px auto;
	content: "";
	display: block;
	height: 22px;
	width: 90%;
	position: absolute;
	left: 0;
	top: 0;
}

#ss_wrap .level_wrap .basic_option .input_radio input:checked+label::after {
	background: url(../images/common/radio_btn_1.png) no-repeat 0 0 !important;
	background-size: 20px auto !important;
}

#ss_wrap .level_wrap .notice {
	background-color: #efefef;
	padding: 17px 16px 0;
	margin-bottom: 22px;
}

#ss_wrap .level_wrap .notice h4 {
	padding: 0 8px;
	border-bottom: 2px solid #dcdcdc;
	border-radius: 3px;
}

#ss_wrap .level_wrap .notice h4 img {
	height: 25px;
	width: auto;
	padding-bottom: 8px;
}

#ss_wrap .level_wrap .notice ul {
	padding: 18px;
}

#ss_wrap .level_wrap .notice ul li {
	margin: 4px 0 15px 0;
	min-height: 18px;
	position: relative;
	background: url(../images/common/bullet_red_01.png) no-repeat 0 0;
	background-size: auto 18px;
	font-size: 15px;
	font-weight: bold;
	padding-left: 15px;
	line-height: 20px;
}

#ss_wrap .level_wrap .notice ul li .date {
	color: #D80003;
}

#ss_wrap .level_wrap .btn a {
	margin: 0 auto 20px;
	position: relative;
	display: block;
}

#ss_wrap .level_wrap .btn a,
#ss_wrap .level_wrap .btn a img {
	width: 280px;
	height: 41px;
}

#ss_wrap .level_wrap .btn_wrap {
	position: relative;
	margin: 0 auto 20px;
	width: 90%
}

#ss_wrap .level_wrap .btn_wrap p {
	background-color: #eaeaea;
	border-radius: 4px;
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}

#ss_wrap .level_wrap .btn_wrap p a {
	width: 99%;
	height: 45px;	
	display: block;
}

#ss_wrap .ok_wrap p {
	text-align: center;
	padding: 20px 0;
}

#ss_wrap .ok_wrap p img {
	width: 310px;
	height: auto;
}

#ss_wrap .ok_wrap p.btn {
	padding: 5px 0 !important;
}

#ss_wrap .ok_wrap div.change_info {
	width: 80%;
	margin: 20px auto 0;	
	padding: 17px 0;
	text-align: center;
}

#ss_wrap .ok_wrap div.login_info {
	width: 90%;
	margin: 20px auto 0;
	background-color: #e5e5e5;
	padding: 17px 0;
	text-align: center;
}

#ss_wrap .ok_wrap div.login_info p.info {
	margin-left: 30px;
	padding: 5px 0;
	width: 80%;
	text-align: left;
}

#ss_wrap .ok_wrap div.login_info p.info img {
	height: 24px;
	padding-right: 10px;
	width: auto;
	vertical-align: bottom;
}

#ss_wrap .ok_wrap div.login_info p.info span {
	font-size: 20px;
	font-weight: bold;
	color: #da2603;
}

#ss_wrap .ok_wrap div.login_info p.info span.date {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

#ss_wrap .ok_wrap .txt_change_info {
	width: 85%;
	margin: 10px auto;
}

#ss_wrap .ok_wrap .txt_change_info>p {
	margin-bottom: 20px;
	margin-top: 0;
	padding: 0;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

#ss_wrap .ok_wrap .txt_change_info>p span {
	font-weight: bold;
	color: #000;
	font-size: 14px;
}

#ss_wrap .ok_wrap .txt_change_info>p span.level,
#ss_wrap .ok_wrap .txt_change_info>p span.date {
	color: #161092;
	font-size: 16px;
}

#ss_wrap .ok_wrap .txt_change_info>p span.level2,
#ss_wrap .ok_wrap .txt_change_info>p span.date2 {
	color: #B41717;
	font-size: 16px;
}

/* login join */

#ss_wrap .mem_wrap {
	overflow: hidden;
	background-color: #fff;
}

#ss_wrap .mem_wrap .inbox {
	padding: 20px 0 30px;
	margin: 0 auto;
	width: 89%;
	border-bottom: 1px solid #ccc;
}

#ss_wrap .mem_wrap .inbox .btn_login {
	width: 100%;
	text-align: center;
}

#ss_wrap .mem_wrap .inbox .btn_login img {
	width: 292px;
	height: auto;
}

#ss_wrap .mem_wrap .inbox .input_radio {
	display: block;
	position: relative;
	width: 90%;
	margin: 5px 0 15px;
}

#ss_wrap .mem_wrap .inbox .input_radio img {
	height: 22px;
	width: auto;
	margin-left: 30px;
}

#ss_wrap .mem_wrap .inbox .input_radio input {
	margin-top: -11px;
	position: absolute;
	left: 2px;
	top: 14px;
}

#ss_wrap .mem_wrap .inbox .input_radio label {
	display: block;
	right: 0;
	width: 50%;
	height: 22px;
	position: relative;
	top: 0;
}

#ss_wrap .mem_wrap .inbox .input_radio label::after {
	background: url(../images/common/radio_btn_0.png) no-repeat 0 0;
	background-size: 20px auto;
	content: "";
	display: block;
	height: 22px;
	width: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

#ss_wrap .mem_wrap .inbox .input_radio input:checked+label::after {
	background: url(../images/common/radio_btn_1.png) no-repeat 0 0 !important;
	background-size: 20px auto;
}

#ss_wrap .mem_wrap .chk_wrap {
	display: block;
	position: relative;
	margin: 15px 0 0;
}

#ss_wrap .mem_wrap .chk_wrap span {
	display: block;
	height: 26px;
	position: relative;
}

#ss_wrap .mem_wrap .chk_wrap input {
	left: 1px;
	position: absolute;
	top: 1px;
}

#ss_wrap .mem_wrap .chk_wrap input:checked+label {
	background: url(../images/common/chk_btn_1.png) no-repeat 0 0 !important;
	background-size: 20px auto;
}

#ss_wrap .mem_wrap .chk_wrap label {
	background: url(../images/common/chk_btn_0.png) no-repeat 0 0;
	background-size: 20px auto;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	height: 26px;
	left: 0;
	line-height: 26px;
	padding-left: 33px;
	position: absolute;
	top: 0;
}

.terms_wrap {
	margin: 20px 0 15px;
}

.terms_wrap h1 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	display: block;
	padding-top: 4px;
	min-height: 18px;
	background: url(../images/common/bullet_red_01.png) no-repeat 0 0;
	background-size: 5px auto;
	padding-left: 12px;
}

.terms_wrap .terms_box,
.terms_wrap .terms_all {
	border: 1px solid #dadada;
	padding: 10px 0 5px;
	border-bottom: none !important;
}

.terms_wrap .terms_cont {
	background-color: #f7f7f7;
	border: 1px solid #f0f0f0;
	margin-top: 11px;
	height: 84px;
	margin: 5px 10px;
	padding: 5px 0;
	overflow-y: scroll;
	position: relative;
}

.terms_wrap .terms_cont * {
	line-height: 16px;
}

/*입력란*/
#ss_wrap .mem_wrap .inbox .input_row {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #dadada;
	height: 29px;
	margin: 0 0 10px;
	clear: left;
	padding: 10px 15px;
	position: relative;
}

#ss_wrap .mem_wrap .inbox .group h3 {
	font-size: 18px;
	display: block;
	float: left;
	font-weight: normal;
	margin: 20px 10px 0 0;
	color: #565656;
}

#ss_wrap .mem_wrap .inbox .input_row2 {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #dadada;
	height: 29px;
	float: left;
	margin: 0 0 10px;
	padding: 10px 10px;
	position: relative;
	width: 16%;
}

#ss_wrap .mem_wrap .inbox .input_box {
	display: block;
	overflow: hidden;
}

.lbl {
	color: #999;
	font-size: 15px;
	left: 15px;
	line-height: 16px;
	position: absolute;
	top: 16px;
}

.int {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	color: #000;
	font-size: 15px;
	height: 16px;
	line-height: 16px;
	padding: 7px 0 6px;
	position: relative;
	width: 100%;
}

.error {
	color: #ff1616;
	font-size: 12px;
	line-height: 16px;
	margin: -2px 0 12px;
}

/*popup*/
.ss_popup {
	position: absolute;
	overflow: hidden;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
}

.ss_popup .box_wrap {
	width: 80%;
	position: relative;
	margin: 70px auto 0;
}

.ss_popup .box_wrap .inbox {
	width: 80%;
	border: 4px solid #c93b18;
	background-color: #fff;
	position: fixed;
	display: block;
	padding: 10px 0 20px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.ss_popup .box_wrap .inbox .logo img {
	width: 85px;
	margin-left: 10px;
	height: auto;
}

.ss_popup .box_wrap .inbox .txt {
	width: 220px;
	margin: 5px auto 15px auto;
}

.ss_popup .box_wrap .inbox .txt2 {
	margin: 5px auto 15px auto;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.ss_popup .box_wrap .inbox .txt2 span {
	color: #9E0B0E;
}

.ss_popup .box_wrap .inbox .txt img {
	width: 225px;
	height: auto;
}

.ss_popup .box_wrap .inbox .cont {
	width: 100%;
	background-color: #e5e5e5;
}

.ss_popup .box_wrap .inbox .cont div {
	margin: 0 auto 10px auto;
	width: 280px;
	padding-bottom: 5px;	
}

.ss_popup .box_wrap .inbox .cont p {
	margin-left: 110px;
}

.ss_popup .box_wrap .inbox .cont .tit img {
	width: 118px;
}

.ss_popup .box_wrap .inbox .cont .date {
	color: #fff;
	background-color: #e05b49;
	text-align: center;
	width: 140px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
}

.ss_popup .box_wrap .inbox .cont .tel img {
	margin-left: 10px;
	height: 18px;
	width: auto;
}

.ss_popup .box_wrap .inbox .btn {
	background-color: #fad24d;
	border-radius: 8px;
	padding: 8px 0;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.ss_popup .box_wrap .inbox .btn a {
	width: 100%;
	display: block;
}

.ss_popup .box_wrap .inbox .btn img.ok {
	width: auto;
	height: 18px;
}

/* 소개페이지 */

.intro_wrap #tab_menu {
	position: absolute;
	width: 100%;
}

.intro_wrap #tab_menu.fixed {
	position: fixed;
	top: 50px;
	z-index: 1;
}

.intro_wrap {
	position: relative;
	background-color: #fff;
	overflow: hidden;
}

.intro_wrap * {
	font-size: 0 !important;
	line-height: 0 !important;
}

/*.intro_wrap .tab_menu{ position:relative; overflow:hidden;}*/
.intro_wrap .tab_menu li {
	display: block;
	float: left;
	height: 35px;
	width: 33%;
}

.intro_wrap .tab_menu li a {
	display: block;
	height: 34px;
	widht: 100%;
	font-size: 0;
	text-indent: -5000px;
	border-right: 1px solid #3170a3;
	border-bottom: 1px solid #3170a3;
	background-size: 85px auto !important;
}

.intro_wrap .tab_menu li.li01 a {
	background: url('../images/cont/tab_menu_intro_1_0.png') #11436b no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li02 a {
	background: url('../images/cont/tab_menu_intro_2_0.png') #11436b no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li03 a {
	background: url('../images/cont/tab_menu_intro_3_0.png') #11436b no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li04 a {
	background: url('../images/cont/tab_menu_intro_4_0.png') #11436b no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li05 a {
	background: url('../images/cont/tab_menu_intro_5_0.png') #11436b no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li06 a {
	background: url('../images/cont/tab_menu_intro_6_0.png') #11436b no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li01.hover a {
	background: url('../images/cont/tab_menu_intro_1_1.png') #36b8cc no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li02.hover a {
	background: url('../images/cont/tab_menu_intro_2_1.png') #36b8cc no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li03.hover a {
	background: url('../images/cont/tab_menu_intro_3_1.png') #36b8cc no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li04.hover a {
	background: url('../images/cont/tab_menu_intro_4_1.png') #36b8cc no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li05.hover a {
	background: url('../images/cont/tab_menu_intro_5_1.png') #36b8cc no-repeat 50% 6px;
}

.intro_wrap .tab_menu li.li06.hover a {
	background: url('../images/cont/tab_menu_intro_6_1.png') #36b8cc no-repeat 50% 6px;
}

.intro_wrap .section_wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.intro_wrap .section_wrap h2 {
	background: url('../images/cont/bg_intro_h2.png') repeat-x left top;
	background-size: auto 40px;
	width: 100%;
	padding-top: 6px;
	height: 32px;
	margin-bottom: 10px;
	position: relative;
}

.intro_wrap .section_wrap h2 a.btn_more {
	position: absolute;
	right: 15px;
	top: 7px;
}

.intro_wrap .section_wrap h2 a.btn_more img {
	width: 24px;
	height: auto;
}

.intro_wrap .section_wrap h2 img {
	margin-left: 8px;
	height: 25px;
	width: auto;
}

.intro_wrap .section01 ul {
	position: relative;
	overflow: hidden;
	width: 98%;
	margin: 0 1.5%;
	display: block;
}

.intro_wrap .section01 li {
	display: block;
	width: 32%;
	margin-right: 4px;
	float: left;
}

.intro_wrap .section01 li img {
	width: 100%;
	height: auto;
}

.intro_wrap .section02 ul {
	position: relative;
}

.intro_wrap .section02 li {
	display: block;
	width: 300px;
	margin: 0 auto;
}

.intro_wrap .section02 li a {
	display: block;
	width: 300px;
	height: 130px;
	position: relative;
}

.intro_wrap .section02 li.port1 {
	background: url('../images/cont/bg_intro_2_port1.png') no-repeat left top;
	background-size: 300px auto;
	height: 130px;
}

.intro_wrap .section02 li.port2 {
	background: url('../images/cont/bg_intro_2_port2.png') no-repeat left top;
	background-size: 300px auto;
	height: 130px;
}

.intro_wrap .section02 li .per {
	position: absolute;
	top: 40px;
	right: 15px;
}

.intro_wrap .section02 li .num {
	font-size: 24px !important;
	font-weight: bold;
}

.intro_wrap .section02 li .txt {
	font-size: 16px !important;
	font-weight: bold;
	color: #333;
}



/*투자매력도 순위*/
.rank_no1_item {
	position: relative;
	height: 60px;
}

.rank_no1_item .bullet_no1 {
	position: absolute;
	top: -5px;
	left: 5px;
}

.rank_no1_item .bullet_no1 img {
	width: 60px;
}

.rank_no1_item .logo img {
	width: 45px;
	margin-left: 70px;
	margin-top: 3px;
}

.rank_no1_item .name {
	display: block;
	float: left;
	margin-top: 16px;
	margin-left: 10px;
	border-left: 2px solid #B3B3B3;
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
}



#ss_wrap .tbl_wrap table td.num p.rank {
	background-color: #7f7f7f;
	border-radius: 12px;
	color: #fff;
	font-size: 12px;
	height: 18px;
	margin: 0 auto;
	padding-top: 6px;
	width: 23px;
}


/*tsst_visual*/
.tsst_ver .tsst_visual {
	margin-bottom: 6px;
}

.tsst_ver .tsst_visual img {
	width: 100%;
}

/* 20220617 css 추가 */
.li1d_btn {
	padding: 10px 12px;
}

.li1d_btn:after {
	content: "";
	display: block;
	clear: both;
}

.li1d_btn .b1 {
	background: #ffffff;
	width: 100%;
	display: block;
	box-sizing: border-box;
	border: 1px solid #eae5e5;
	text-align: center;
	height: 29px;
	float: left;
}

.li1d_btn .b1 span {
	line-height: 27px;
	color: #2b2b2b;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	letter-spacing: -0.5px;
	padding-left: 15px;
}