// 메인
.bdr_title {
    display: flex;
    align-items: center;
    gap: 6px 6px;
    margin-bottom: 12px;
    &, a {
        color: var(--Font-primary-title, #1F242B);
        font-family: var(--Title, Pretendard);
        font-size: 18px;        
        font-weight: var(--Weight-700, 700);
        line-height: var(--Line-height-lg, 20px); /* 111.111% */
        letter-spacing: var(--Tracking-md, 0.03px);        
    }
    span {
        color: #888;
        font-size: 14px;        
    }
    
    &::before {
        content: '';
        display: inline-flex;
        align-items: center;
        width: 3px;
        height: 18px;
        background-color: #E41E3A;
        border-radius: 100px;
    }
}

// 달려라 미국주식        
.strategy_list.usa_stock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px 4px;
    padding: 10px 0 14px;

    .list {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        width: 100%;

        .title_logo {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;            
            border-radius: var(--Radius-r-03, 12px);
            background: var(--Event-recipe_pink, #E36B6D);
            &.exploration_life {
                background: var(--Event-recipe_mint, #79D5A9);
            }
            &.rocketImg {
                background: #B6DEFA;
            }
            .logo {

            }        
        }


        .detail {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 4px 4px;
            width: calc(100% - 62px);

            .tag {
                color: var(--Font-secondary-caption, #6B7684);                
                font-family: var(--Body, Pretendard);
                font-size: var(--Size-xs-13, 13px);                
                font-weight: var(--Weight-500, 500);
                line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
                letter-spacing: var(--Tracking-md, 0.03px);

            }
            .txt {                
                color: var(--Font-primary-title, #1F242B);
                font-family: var(--Title, Pretendard);
                font-size: var(--Size-md-16, 16px);
                font-style: normal;
                font-weight: var(--Weight-500, 500);
                line-height: var(--Line-height-lg, 20px); /* 125% */
                letter-spacing: var(--Tracking-md, 0.03px);
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
        }
    }
    
}