/* 로그인 - 회원로그인 */
#wrap #container.sub_login {
    // background-color: #fff;
    padding-bottom: 50px;
    min-height: 500px;
    box-sizing: border-box;

    .loign {
        padding: 23px 0;
    }

    .loign .login_title {
        color: #333;
        font-weight: bold;
        font-size: 1.9rem;
    }

    .loign .att_service {        
        text-align: center;
    }

    .loign .att_service .service_title {
        font-size: 24px;
        font-weight: $f_sizeB;
        line-height: 1.5;
        letter-spacing: -0.6px;
        text-align: center;
        color: #fff;
    }

    .loign .att_service .service_title strong {
        font-size: 24px;
        font-weight: $f_sizeB;
        letter-spacing: -0.6px;
        color: var(--cold9e);
    }

    .loign .att_service .guide_txt {
        text-align: left;
        margin-top: 0;
        padding-bottom: 25px;
    }

    .loign .att_service .guide_txt li {
        color: #939393;
        font-size: $font12;
        padding-left: 10px;
        line-height: 1.6;
    }

    .loign .att_service .guide_txt li.title {
        font-size: $font13;
        line-height: 1.54;
        letter-spacing: -0.33px;
        text-align: center;
        color: #575757;
    }

    .loign .att_service .guide_txt li.title .go_mam {
        color: #608BFF;
        font-size: 0.82rem;
        padding-left: 0;
        text-decoration: underline;
    }

    .loign .sns {
        padding: 0 15px;
        margin-top: 15px;
        text-align: center;
    }

    .loign .sns li {
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }

    .loign .sns li a {
        position: relative;
        display: block;
        padding: 21px 0;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: $font15;
        line-height: 1.47;
        color: #fff;
        filter: brightness(0.95);
    }

    .loign .sns li:first-child a {
        background-color: #20b703;        
    }

    .loign .sns li:first-child a::before,
    .loign .sns li:last-child a::before {
        content: '';
        display: inline-block;        
        vertical-align: middle;
        padding-right: 10px;
        width: 22px;
        height: 22px;
    }

    .loign .sns li:last-child a {
        background-color: #f3db09;
        color: #333;
    }

    .loign .sns li:first-child a::before {
        background: url('/img/icon_sns_n.svg') no-repeat left top;
    }

    .loign .sns li:last-child a::before {
        background: url('/img/icon_sns_k.svg') no-repeat left top;
    }

    .loign .sns li a,
    .loign .sns li a img {
        display: inline-block;
        width: 100%;
    }

    .loign .att_service:nth-child(3) {
        padding: 0;
        text-align: left;
        margin-top: 0;
    }

    .loign .att_service:nth-child(3) .service_title {
        font-size: 0.9375rem;
        border-bottom: none;
    }

    .loign .att_service:nth-child(3) .service_title strong {
        color: #404fc3;
    }

    .loign .att_service:nth-child(3) .guide_txt.bg_blue {
        padding: 22px 15px;
        background: #e6e7f4;
        margin-top: 0;
    }

    .loign .att_service:nth-child(3) .guide_txt li.title {
        color: var(--col7f8);
    }

    /* 로그인 - 아이디체크 */
    .loign_chk {
        padding: 30px 15px 20px;
    }

    .loign_chk .login_title {
        font-size: 1.25rem;
        font-weight: $f_sizeB;
        letter-spacing: -0.5px;
        color: var(--colpry);
        padding-bottom: 8px;
        border-bottom: 1px solid var(--colpry);
    }

    .loign_chk .id_chk {
        border-radius: 5px;
        border: 1px solid var(--colpry);
        padding: 40px 15px;
        text-align: center;
        margin-top: 16px;
        background-color: var(--col1f3);
    }

    .loign_chk .id_chk .sns_name {
        font-size: $font12;
        letter-spacing: -0.6px;
        text-align: center;
        color: var(--col7f8);
        margin-bottom: 8px;
    }

    .loign_chk .id_chk .sns_chk {
        font-size: $font18;
        font-weight: $f_sizeB;
        letter-spacing: -0.9px;
        color: var(--cold9e);        
    }

    .loign_chk .id_chk .existing {
        .useWelcome {
            display: inline-block;
            min-width: 80%;
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #e6e6e6;
            font-size: $font13;
            letter-spacing: -0.33px;
            text-align: center;
            color: #c22e06;

            span {
                display: block;
                padding-top: 3px;
                color: var(--cold9e);
            }
        }
    }

    .agree_area {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .agree_area .txt {
        font-size: $font13;
        letter-spacing: -0.33px;
        line-height: 1.5;
        color: var(--cold9e);
    }

    .agree_area .agree_from {
        margin-top: 30px;
    }

    .agree_area .agree_from .free_sum,
    .agree_area .agree_from .free_sum strong {
        color: #333;
        font-size: 0.9375rem;
        margin: 30px 0 15px;
        line-height: 1.3;
        vertical-align: middle;
    }

    .agree_area .agree_from .free_sum span {
        color: #ff2929;
        font-size: 0.84rem;
        margin-top: 7px;
        text-decoration: underline;
        vertical-align: middle;
    }

    .agree_area .agree_from .label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        cursor: pointer;
        background: var(--col1a1);
        border-radius: 9px;
        padding: 14px 20px 14px 12px;
        border: 1px solid var(--colpry);
    }

    .agree_area .agree_from .label.sub_label .label_chk {
        width: 100%;
    }

    .agree_area .agree_from .label .label_chk {
        font-size: $font13;
        letter-spacing: -0.65px;
        color: var(--cold9e);
        text-align: left;
        label:before {
            border-radius: 50%;
        }
    }

    .agree_area .agree_from .label .label_chk.sub_label {
        padding-left: 15px;
        padding-top: 10px;
        opacity: 0.5;
    }

    .agree_area .agree_from .label.active .label_chk.sub_label {
        opacity: 1;
    }

    .agree_area .agree_from .label .terms_btn {
        border-radius: 3px;
        border: solid 1px var(--col6AA);
        padding: 4px 5px;
        font-size: 0.75rem;
        letter-spacing: -0.6px;
        text-align: left;
        color: var(--col6AA);
        font-weight: $f_sizeB;
    }

    .agree_area .agree_from .payBtn {
        margin-top: 22px;

        a {
            @include one_btn;
            padding: 0;
            font-size: $font18;
            font-weight: $f_sizeB;
            letter-spacing: -0.9px;            
            color: #fff;            
            border: none;

            &::after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 8px;
                left: calc(100% - 30px);
                right: auto;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: rotate(45deg);
            }
        }
    }

    /* 회원가입시 휴대폰 번호 수집 */
    .agree_area .new_free2week {
        font-size: $font13;
        line-height: 1.54;
        letter-spacing: -0.33px;
        color: var(--cold9e);
        word-break: break-all;
    }

    .agree_area .new_free2week b {
        color: #FF4E4E;
    }

    .agree_area .agree_from {
        .label.phone_label {            
            display: block;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
            padding-bottom: 18px;
        }

        .label.phone_label .label_chk {
            width: 100%;
        }

        .label.phone_label .guide_txt {
            padding-top: 5px;
            padding-left: 24px;
            font-size: $font12;
            letter-spacing: -0.6px;
            text-align: left;
            color: var(--col7f8);
            line-height: 1.2;
        }

        .phonePin_form .box {
            padding: 0 35px 10px;            
            position: relative;            
        }

        .phonePin_form .box:first-child {
            margin-top: 0;
        }

        .phonePin_form .box:last-child {
            display: none;
        }

        .phonePin_form .pinInput,
        .phonePin_form .pinInput_out {
            border: none;
            color: #333;
            font-size: 1rem;
            letter-spacing: -0.8px;
            padding: 8px 13px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #ececef;
        }

        .phonePin_form .pinInput {
            color: #333;
        }

        .phonePin_form .pinInput:focus {
            border: none;
            outline: none;
        }

        .phonePin_form .pinInput:focus::-webkit-input-placeholder {
            color: transparent;
        }

        .phonePin_form .dsc_error {
            text-align: right;
            margin-top: 6px;
            font-size: $font12;
            line-height: 1.3;
            color: #FF4E4E;
        }

        .phonePin_form .pinBtn {
            cursor: pointer;
            position: absolute;
            right: 42px;
            top: 6px;
            width: 70px;
            height: 25px;
            font-size: $font12;
            font-weight: normal;
            letter-spacing: -0.6px;
            text-align: center;
            color: #C22E06;
            outline: none;
            padding: 4px 8px;
            border-radius: 3px;
            border: solid 1px #C22E06;
            background-color: #fff;
            &.pin_req {
                display: block;	
                color: #fff;    
                border: solid 1px #C22E06;
                background-color: #C22E06;
            }
            &.pin_reqAgain {
                display: none;
                color: #C22E06;
                border: solid 1px #C22E06;
                background-color: #fff;
            }
        }

        .phonePin_form .pinInput_out {
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 1.6px;
            color: #333;
        }

        .phonePin_form .pinInput_out:focus {
            border: none;
            outline: none;
        }

        .phonePin_form .pinInput::placeholder,
        .phonePin_form .pinInput_out::placeholder {
            font-size: 16px;
            font-weight: normal;
            color: #82929f;
            letter-spacing: -0.8px;
        }

        .phonePin_form .pinInput_out:focus::-webkit-input-placeholder {
            color: transparent;
        }

        .phonePin_form .pin_countDown {
            font-size: $font12;
            letter-spacing: -0.8px;
            color: #549ef4;
            text-align: center;
            width: calc(100% - 20px);
            margin-left: 20px;
            margin-top: 6px;
        }

        .phonePin_form .pin_countDown span {
            font-size: $font12;
            letter-spacing: -0.8px;
            color: #549ef4;
        }

        .phonePin_form .pin_completion {
            cursor: pointer;
            position: absolute;
            right: 42px;
            top: 6px;
            width: 70px;
            height: 25px;
            box-sizing: border-box;
            font-size: $font12;
            font-weight: normal;
            letter-spacing: -0.6px;
            text-align: center;
            color: #fff;
            outline: none;
            padding: 4px 8px;
            border-radius: 3px;
            border: solid 1px #C22E06;
            background-color: #C22E06;
        }

        .txt_reject {
            text-align: right;
            color: var(--cold9e);
            font-size: $font12;
            line-height: 14px;
            margin-top: 7px;
        }
    }

    .btnArea.modBtn {
        margin: 25px 0 0;
        @include two_btn;

        a {
            position: relative;
            font-size: $font18;
            font-weight: $f_sizeB;
            letter-spacing: -0.9px;
            color: #fff;

            &.btn_cncl {
                color: var(--col7f8) !important;
                background-color: var(--col1a1) !important;
                border: 1px solid var(--col7f8) !important;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 22px;
                    right: calc(100% - 35px);
                    border-top: 1px solid #898989;
                    border-right: 1px solid #898989;
                    transform: rotate(-135deg);
                }

            }

            &.btn_save {
                &::after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 22px;
                    left: calc(100% - 35px);
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }

    // 회원정보 입력폼 통일 (3사 통일)
    .agree_area .agree_from .mapage_form {
        background: var(--col1a1);
        border: 1px solid var(--colpry);
        border-top: none;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px
    }

    .agree_area .mapage_form {
        .form_table {
            padding-top: 10px;

            tr {
                border-bottom: 1px solid var(--col445)
            }

            th,
            td {
                padding: 15px 9px;
                text-align: left;
                vertical-align: top;
            }

            th {
                flex: 1;
                font-size: $font13;
                letter-spacing: -0.65px;
                color: var(--cold9e);
            }

            td {
                font-size: $font15;
                letter-spacing: -0.75px;
                color: var(--cold9e);

                .item {
                    display: inline-block;
                }

                .i_dsc,
                .i_guide {
                    position: relative;
                    margin-top: 5px;
                    font-size: $font12;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    color: var(--col7f8);                    
                    word-break: break-all;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        // background: url('/img/icon_awesome.svg') no-repeat center center;
                    }
                }

                .txt_info {
                    display: inline-block;
                }

                .mod_btn {
                    cursor: pointer;
                    display: inline-block;
                    margin-left: 3px;
                    border-radius: 3px;
                    border: solid 1px var(--col6AA);                    
                    padding: 3px 5px;
                    font-size: 11px;
                    color: var(--col6AA);
                    font-weight: $f_sizeB;

                    a {
                        display: inline-block;
                        font-size: 11px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: var(--colpry);
                    }
                }

                .mod_phone {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 5px;

                    .phone_mod {
                        width: 120px;
                    }
                }

                .certifi_btn {
                    cursor: pointer;
                    display: inline-block;
                    min-width: 80px;
                    height: 28px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 5px 5px;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                    background-color: #c22e06;
                    border: none;
                    vertical-align: middle;
                }

                .i_guide,
                .i_dsc {
                    width: 100%;
                    &.phone {
                        color: #FF4E4E;
                    }
                }

                &.phonePin_form {
                    display: none;                    
                    .box {
                        display: block;                                                
                        position: relative;
                        padding: 0;
                        margin-top: 5px;
                    }

                    .box:first-child {
                        margin-top: 0;
                    }

                    .box:last-child {
                        display: none;
                    }

                    .pinInput,
                    .pinInput_out {                        
                        color: var(--cold9e);
                        font-weight: $f_sizeB;
                        font-size: 0.875rem;
                        letter-spacing: -0.8px;
                        padding: 9px 13px;
                        width: 100%;
                        box-sizing: border-box;
                        border-radius: 5px;
                        background-color: var(--colbbginput);
                        border: 1px solid var(--colpry);                        
                    }

                    .pinInput {
                        color: var(--cold9e);
                    }

                    .pinInput:focus {                        
                        outline: none;
                    }

                    .pinInput:focus::-webkit-input-placeholder {
                        color: transparent;
                    }

                    .dsc_error {
                        text-align: right;
                        margin-top: 6px;
                        font-size: $font12;
                        line-height: 1.3;
                        color: #FF4E4E;
                    }

                    .pinBtn {
                        cursor: pointer;
                        position: absolute;
                        right: 9px;
                        top: 6px;
                        width: 70px;
                        height: 25px;
                        font-size: $font12;
                        font-weight: normal;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: var(--colpry);
                        outline: none;
                        padding: 4px 8px;
                        border-radius: 3px;
                        border: solid 1px var(--colpry);
                        background-color: #fff;
                        &.pin_req {
                            display: block;	
                            color: #fff;    
                            border: solid 1px var(--colpry);
                            background-color: var(--colbtnbg);
                        }
                        &.pin_reqAgain {
                            display: none;
                            color: #8a9098 ;
                            border: solid 1px #8a9098;
                            background-color: var(--col1f3);
                        }
                    }

                    .pinInput_out {
                        font-size: $font16;
                        font-weight: bold;
                        letter-spacing: 1.6px;
                        color: var(--cold9e);
                    }

                    .pinInput_out:focus {                        
                        outline: none;
                    }

                    .pinInput::placeholder,
                    .pinInput_out::placeholder {
                        font-size: $font16;
                        font-weight: normal;
                        color: #82929f;
                        letter-spacing: -0.8px;
                    }

                    .pinInput_out:focus::-webkit-input-placeholder {
                        color: transparent;
                    }

                    .pin_countDown {
                        font-size: $font12;
                        letter-spacing: -0.8px;
                        color: #549ef4;
                        text-align: center;
                        width: calc(100% - 20px);
                        margin-left: 20px;
                        margin-top: 6px;
                    }

                    .pin_countDown span {
                        font-size: $font12;
                        letter-spacing: -0.8px;
                        color: #549ef4;
                    }

                    .pin_completion {
                        cursor: pointer;
                        position: absolute;
                        right: 9px;
                        top: 6px;
                        width: 70px;
                        height: 25px;
                        box-sizing: border-box;
                        font-size: $font12;
                        font-weight: normal;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #fff;
                        outline: none;
                        padding: 4px 8px;
                        border-radius: 3px;
                        border: solid 1px var(--colpry);
                        background-color: var(--colbtnbg);
                    }

                }

                .txt_reject {
                    text-align: right;
                    color: var(--cold9e);
                    font-size: $font12;
                    line-height: 14px;
                    margin-top: 7px;
                }
            }
        }
    }

    /* 로그인 - 가입완료 */
    .loign_com {
        padding: 30px 15px 20px;

        .login_title {
            font-size: $font20;
            font-weight: $f_sizeB;
            letter-spacing: -0.5px;
            color: var(--colpry);
            padding-bottom: 8px;
            border-bottom: 1px solid var(--col324);
        }

        .sum_box {
            padding: 55px 0;
            border-bottom: 1px solid var(--col324);
            // background: url('/img/bg_loign_com.svg') no-repeat right bottom;

            .login_sum {
                font-size: 30px;
                line-height: 1.63;
                letter-spacing: -0.4px;
                color: #b0b1bc;

                strong {        
                    display: inline-block;
                    padding-right: 5px;
                    font-size: 28px;            
                    font-weight: $f_sizeB;
                    line-height: 1.39;
                    letter-spacing: -0.58px;
                    color: #fff;
                }
            }
        }

        .txt {
            margin-top: 13px;
            font-size: $font15;
            letter-spacing: -0.38px;
            text-align: left;
            color: var(--cold9e);

            strong {
                color: #c22e06;
            }
        }

        .txt_sum {
            color: #333;
            font-size: 0.9rem;
            opacity: 0.7;
            margin-top: 7px;
            line-height: 1.43;
        }

        .phone_regbox {
            background: var(--col1f3);
            padding: 25px 20px 21px;
            margin: 30px -15px 20px;

            .title {
                font-size: $font18;
                font-weight: $f_sizeB;
                line-height: 1.11;
                letter-spacing: -0.45px;
                color: var(--cold9e);

                +.txt {
                    padding: 0;
                    padding-bottom: 10px;
                    margin-top: 5px;
                    font-size: $font13;
                    font-weight: normal;
                    letter-spacing: -0.33px;
                    color: var(--cold9e);
                }
            }

            ul {
                border-top: 1px solid var(--col324);
                padding-top: 10px;

                .txt {
                    position: relative;
                    margin-top: 0;
                    padding-left: 10px;
                    font-size: $font15;
                    line-height: 2;
                    letter-spacing: -0.75px;
                    color: var(--cold9e);

                    strong {
                        font-weight: $f_sizeB;
                        color: var(--cold9e);
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 13px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: var(--cold9e);
                    }

                }
            }
        }

        .link_home {
            @include one_btn;
            border: none;
            background-color: var(--colbtnbg) ;

            a {
                position: relative;
                font-size: $font18;
                font-weight: $f_sizeB;
                padding: 0;
                color: #fff;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 8px;
                    left: calc(100% - 35px);
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: rotate(45deg);
                }
            }
        }

        // 기존회원 슈퍼스톡스 프리미엄 2주 무료체험 시작
        &.existing {
            .sum_box .login_sum strong {
                display: block;
                color: #fa8700;
            }

            .link_home {
                background-color: #fa8700;
            }
        }

    }

    // 220311
    .family_site {
        padding: 30px 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 0;

        .title {
            width: 100%;
            text-align: center;
            font-size: $font16;
            font-weight: $f_sizeB;
            letter-spacing: -0.6px;
            color: var(--cold9e);
            margin-bottom: 15px;
        }

        .box {
            border-radius: 5px;
            background-color: var(--col1f3);
            padding: 13px 12px 15px;
            width: 100%;
            box-sizing: border-box;
        }

        .sumTitle {            
            text-align: left;
            font-size: 18px;
            font-weight: $f_sizeB;
            letter-spacing: -0.45px;
            color: #fff;
            
        }

        .txt {
            margin-top: 5px;
            font-size: $font14;
            letter-spacing: -0.35px;
            color: var(--cold9e);
        }
    }
}

// 내정보 회원정보, 서비스/결제내역
#wrap #container.sub_login {
    .mapage_area {
        padding: 30px 0 20px;

        .title {
            padding-left: 15px;
            font-size: 24px;
            font-weight: $f_sizeB;
            letter-spacing: -0.6px;
            color: var(--colpry);    
            display: inline-block;
            + a {
                padding-left: 15px;
                color: var(--cold9e);
            }
        }

        .tabsWrap {
            margin-top: 19px;            

            .page_nav {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                border-bottom: 1px solid var(--colpry);
                margin-top: 0;
                // background-color: #fff;

                li {
                    flex: 1;
                    padding: 5px 0;
                    box-sizing: border-box;
                    text-align: center;
                    position: relative;
                    top: 1px;

                    a {
                        font-size: $font16;
                        line-height: 1.5;
                        letter-spacing: -0.4px;
                        color: #8a9098;
                    }

                    &.active {
                        border-bottom: 3px solid var(--colpry);

                        a {
                            font-weight: $f_sizeB;
                            color: var(--colpry);
                        }
                    }

                    .updata {
                        position: absolute;
                        top: 13px;
                        right: -110px;
                        width: 110px;
                        font-size: 10px;
                        letter-spacing: -0.25px;
                        color: var(--cold9e);
                    }
                }
            }
        }

        .agree_area .myInfo {
            padding-top: 10px;

            .line {
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-content: flex-start;

                    li {
                        border-bottom: 1px solid var(--col445);

                        .pinBtn {
                            font-size: 10px;
                        }
                    }
                }

                .th,
                .td {
                    padding: 15px 9px;
                    box-sizing: border-box;
                }

                .th {
                    flex: 1;
                    font-size: $font13;
                    letter-spacing: -0.65px;
                    color: var(--cold9e);
                }

                .td {
                    flex: 3;
                    font-size: $font15;
                    letter-spacing: -0.75px;
                    color: var(--cold9e);
                }

                .pinBtn {
                    cursor: pointer;
                    margin-left: 3px;
                    border-radius: 3px;
                    border: 1px solid #c22e06;
                    background-color: #fff;
                    padding: 1px 2px;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #c22e06;
                }

                .pin_countDown {
                    position: relative;
                    margin-top: 5px;
                    font-size: $font12;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    color: #FF4E4E;                    
                    word-break: break-all;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        // background: url('/img/icon_awesome.svg') no-repeat center center;
                    }
                }
            }
        }

        .agree_area .agree_from {
            margin-top: 10px;
        }

        .agree_area .agree_from .phonePin_form {
            // background-color: #f5f5f5;
            padding-top: 10px;
            border-radius: 5px;
            overflow: hidden;
        }

        .agree_area .agree_from .phonePin_form .box {
            padding: 0 15px 15px;
        }

        .agree_area .agree_from .phonePin_form .pin_completion,
        .agree_area .myInfo .line .pinBtn {
            right: 25px;
        }

        .inUse_box {
            margin-top: 15px;
            padding: 0 15px;

            .title {
                padding-left: 0;
                font-size: $font13;
                letter-spacing: -0.65px;
                color: var(--cold9e);
            }

            .use_service {
                margin-top: 15px;

                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                li {
                    padding: 8px 5px;
                    border-top: 1px solid var(--col445);
                    box-sizing: border-box;
                    flex: 1;
                    font-size: $font13;
                    letter-spacing: -0.5px;
                    color: var(--cold9e);

                    @media (min-width: 320px) and (max-width: 400px) {
                        letter-spacing: -1px;
                    }

                    &.th {
                        position: relative;
                        background-color: var(--col1f3);
                        padding-left: 17px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 15px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: var(--cold9e);
                        }
                    }

                    &.td {
                        color: var(--cold9e);
                        padding-left: 10px;

                        .method {
                            display: inline-block;
                            width: 45px;
                            text-align: center;
                            color: #8a9098;
                        }

                    }

                }

                &:last-child {
                    flex: 1;
                    border-bottom: 1px solid var(--col445);
                }
            }
        }
    }

    .btnArea.modBtn {
        @include two_btn;
        padding: 0 15px;
        .btn.btn_save {
            border: none !important;
            background-color: var(--colbtnbg) !important;
            color: #fff !important;        
        }
        
    }

    .withdrawal {
        margin-top: 15px;
        padding: 0 15px;

        a {
            position: relative;
            font-size: $font12;
            letter-spacing: -0.5px;
            text-align: left;
            color: #8a9098;
            padding-right: 12px;

            &::after {
                content: '';
                display: inline-block;
                width: 4px;
                height: 4px;
                position: absolute;
                top: 6px;
                right: 0;
                border-top: 1px solid #8a9098;
                border-right: 1px solid #8a9098;
                transform: rotate(45deg);
            }
        }
    }

    // 서비스/결제내역
    .mapage_service {
        background: var(--col1f3);
        margin: 0 15px;
        padding: 20px 0;
        box-sizing: border-box;
    }

    .mapage_service .service_table {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box {
            flex: 1;
            padding: 0 8px 0 12px;

            &:last-child {
                border-left: 1px solid var(--col445);
            }
        }

        .service {
            font-size: $font15;
            font-weight: $f_sizeB;
            line-height: 1.47;
            letter-spacing: -0.75px;
            color: var(--colpry);
            width: 120px;
            padding-bottom: 10px;
        }

        .day {
            margin-top: 5px;
            font-size: $font12;
            color: var(--cold9e);
            padding-left: 5px;
        }

        .system {
            font-size: $font12;
            ;
            font-weight: $f_sizeB;
            line-height: 1.5;
            color: var(--cold9e);
            margin-right: 3px;
        }

        .num {
            margin-top: 5px;
            font-size: $font12;
            color: #575757;

            span {
                display: inline-block;
                padding: 3px 0 2px;
            }
        }

        .btn_payCan,
        .btn_payRefund {
            cursor: pointer;
            display: inline-block;
            border-radius: 3px;
            border: solid 1px var(--col6AA);
            background-color: transparent;
            margin-top: 3px;
            padding: 1px 5px;
            font-size: 11px;
            letter-spacing: -0.6px;
            text-align: center;
            color: var(--col6AA);
        }

        .card_ch {
            cursor: pointer;
            border-radius: 3px;
            padding: 3px 6px;
            margin-left: 5px;
            font-size: 11px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #fff;
            background-color: var(--colbtnbg);
        }

        .card_num {
            display: flex;
            flex-wrap: wrap;
            gap: 1px 10px;
            padding-top: 6px;

            p {
                font-size: $font12;
                line-height: 1.5;
                letter-spacing: -0.6px;
                color: var(--cold9e);

                span {
                    display: inline-block;
                    color: #575757;
                    padding-right: 3px;
                    width: 46px;
                }
            }
        }
    }

    .mapage_service_free {
        background: #fff;
        border-radius: 9px;
        margin: 26px auto 0;
        width: calc(100% - 30px);
        padding: 17px 0;
        box-sizing: border-box;
    }

    .mapage_service_free .top {
        position: relative;
        padding: 0 10px 17px 10px;
    }

    .mapage_service_free .top .h2_freetitle {
        color: #333;
        font-size: 0.9375rem;
    }

    .mapage_service_free .top .h2_freetitle span {
        color: #939393;
        font-size: $font12;
        font-weight: normal;
    }

    .mapage_service_free .top .day {
        color: #00aece;
        font-size: $font12;
        margin-top: 5px;
    }

    .mapage_service_free .top .auto_cncl {
        font-size: $font12;
        position: absolute;
        right: 10px;
        bottom: 17px;
        cursor: pointer;
        display: inline-block;
        color: #00aece;
        border: 1px solid #00aece;
        border-radius: 3px;
        padding: 5px 10px;
    }

    .mapage_service_free .mid {
        background: #eaf5f7;
        padding: 17px 10px;
    }

    .mapage_service_free .mid li {
        color: #939393;
        font-size: $font12;
        line-height: 1.3;
        margin-bottom: 6px;
    }

    .mapage_service_free .mid ul:last-child {
        margin-top: 13px;
    }

    .mapage_service_free .mid ul:last-child li {
        background: url('/img/dot_line.png') no-repeat 0 8px;
        padding-left: 8px;
        color: #333;
    }

    .mapage_service_free .btm {
        padding: 17px 10px 0;
        position: relative;
    }

    .mapage_service_free .btm .h3_freetitle {
        color: #333;
        font-size: 0.82rem;
    }

    .mapage_service_free .btm ul {
        margin-top: 10px;
    }

    .mapage_service_free .btm li {
        color: #939393;
        font-size: 0.82rem;
        line-height: 1.43;
    }

    .mapage_service_free .btm li span {
        color: #939393;
        width: 62px;
        display: inline-block;
    }

    .mapage_service_free .btm li strong {
        color: #333;
        padding-left: 10px;
        display: inline-block;
    }

    .mapage_service_free .btm .card_ch {
        font-size: $font12;
        position: absolute;
        right: 10px;
        bottom: 0;
        cursor: pointer;
        display: inline-block;
        color: #404fc3;
        border: 1px solid #404fc3;
        border-radius: 3px;
        padding: 5px 10px;
    }

    .history_table {
        border-top: 1px solid var(--col324);
        margin: 0 15px;
        width: calc(100% - 30px);

        th,
        td {
            padding: 9px 2px;
            text-align: center;
            vertical-align: middle;
        }

        tr {
            border-bottom: 1px solid var(--col324);
        }

        thead {
            th {
                font-size: $font13;
                font-weight: $f_sizeB;
                letter-spacing: -0.65px;
                color: var(--cold9e);
            }
        }

        tbody {
            td {
                .in {
                    display: block;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    color: var(--col6AA);
                }

                &:nth-child(1) {
                    font-size: $font13;
                    letter-spacing: normal;
                    color: var(--cold9e);
                }

                &:last-child {                    
                    font-size: $font13;
                    letter-spacing: -0.65px;
                    color: var(--cold9e);
                    .in {   
                        margin-top: 3px;            
                        &.btn_bdr {
                            cursor: pointer;
                            width: 70%;        
                            box-sizing: border-box;
                            padding: 0 3px;                
                            margin: 3px auto 0;
                            border-radius: 3px;
                            border: solid 1px var(--col6AA);
                        }                                 
                    }
                }
            }
        }
    }

    .btnArea.payBtn {
        @include one_btn;
        border: none;
        background-color: var(--colbtnbg);
        margin: 25px auto 0;

        // width: calc(100% - 30px);
        a {
            position: relative;
            font-size: $font18;
            color: #fff;

            b {
                font-weight: $f_sizeB;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 7px;
                left: calc(100% + 10px);
                right: auto;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: rotate(45deg);
            }
        }
    }

    .history_area+.btnArea.payBtn {
        width: calc(100% - 30px);
    }

    // 회원탈퇴
    .withdrawal_com {
        padding: 30px 15px 20px;

        .txt {            
            font-size: 24px;
            font-weight: $f_sizeB;            
            line-height: 1.5;
            color: var(--cold9e);            

            strong {
                display: inline-block;
                padding-right: 3px;
                color: var(--colpry);
                text-decoration: underline;
            }
        }

        .inUse_box {
            margin-top: 35px;

            .title {
                font-size: $font13;
                font-weight: $f_sizeB;
                color: #fff;
            }

            .use_service {
                margin-top: 15px;

                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-top: 1px solid var(--col445);
                    background-color: var(--col1f3);
                }

                li {
                    padding: 8px 5px;                    
                    box-sizing: border-box;
                    flex: 1;
                    font-size: $font13;
                    letter-spacing: -0.5px;
                    color: var(--cold9e);

                    &.th {
                        position: relative;                        
                        padding-left: 17px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 15px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: var(--cold9e);
                        }
                    }

                    &.td {
                        font-size: $font12;
                        color: var(--cold9e);
                        padding-left: 10px;
                        letter-spacing: 0;
                        background-color: var(--col1a1);

                        .method {
                            display: inline-block;
                            width: 45px;
                            text-align: center;
                            color: var(--cold9e);
                        }
                    }
                }

                &:last-child {
                    flex: 1;
                    border-bottom: 1px solid var(--col445);
                }
            }
        }

        .withdrawal_freetxt {
            margin-top: 30px;

            .service_title {
                font-size: $font14;
                font-weight: $f_sizeB;
                letter-spacing: -0.35px;
                color: var(--cold9e);
            }

            .title {
                position: relative;
                margin-top: 5px;
                padding-left: 10px;
                font-size: $font12;
                font-weight: normal;
                letter-spacing: normal;
                line-height: 1.5;
                color: var(--col7f8);

                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    background-color: var(--col7f8);
                }

                strong {
                    text-decoration: underline;
                    font-weight: $f_sizeB;
                    color: var(--cold9e);
                }
            }
        }

        .btnArea.wtwalBtn {
            @include one_btn;
            margin-top: 40px;
            border: none;
            background-color: var(--colpry);

            a {
                display: block;
                position: relative;
                font-size: $font18;
                font-weight: $f_sizeB;
                letter-spacing: -0.9px;
                color: #fff;
            }
        }
    }
}